html{
	height: 100%;
}

body{
	background-color: #45CB7B;
	height: 100%;
}

h1{
	text-align: center;
	font-size: 50px;
}

.container{
	display: flex;
	width: 80%;
	margin: 0px auto;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	flex-direction: row-reverse;
}

.container a{
	font-size: 30px;
	cursor: pointer;
	border: 2px black solid;
	padding: 10px 30px;
	background-color: white;
}

#cmd{
	margin-top: 50px;
	width: 80%;
	height: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: gray;
	color: white;
	resize: none;
}

#input{
	width: 80%;
	height: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: gray;
	color: yellow;
}

#input::placeholder
{
	color: yellow;
}

#clientForm
{
	display: flex;
	width: 80%;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
	margin: 0px auto;
}

#form
{
	width: 30%;
	/*background-color: orange;*/
	text-align: center;
}

#clientForm select
{
	width: 90%;
	margin-top: 30px;
}

#clientForm select option
{
	font-size: 20px;
}

#form button
{
	margin-bottom: 30px;
}

#projects
{
	width: 70%;
	background-color: yellow;
}

#pform
{
	width: 100%;
}

#projectSelect
{
	margin-right: auto;
	margin-left: auto;
}